/* Estilos específicos para cada página */
@charset "utf-8";
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

.product, .promotion, .news {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos comuns para todas as páginas */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

/* Registro e Login */
#registro,
#login {
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

/* Histórico de Pedidos */
#historico ul {
    list-style: none;
    padding: 0;
}

#historico li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

/* Informações do Perfil */
#informacoes-perfil {
    max-width: 400px;
    margin: 0 auto;
}
