<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Produtos - Sua Empresa de Cocadas</title>
    
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Catálogo de Produtos</h1>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#categorias">Categorias</a></li>
            <li><a href="carrinho.html">Carrinho</a></li>
            <li><a href="registro_login.html">Registro ou Login</a></li>
            <li><a href="perfil_usuario.html">Perfil</a></li>
            <li><a href="historico_pedidos.html">Histórico de Pedidos</a></li>
        </ul>
    </nav>
</header>

<section id="categorias">
    <h2>Categorias</h2>
    <ul>
        <li><a href="#categoria-tradicional">Tradicional</a></li>
        <li><a href="#categoria-especial">Especial</a></li>
        <!-- Adicione mais categorias conforme necessário -->
    </ul>
</section>

<section id="categoria-tradicional">
    <h2>Cocadas Tradicionais</h2>
    <div class="product">
        <img src="produtos/produto01.jpg" alt="Cocada Tradicional 1">
        <h3>Cocada Tradicional</h3>
        <p>Feita com ingredientes de alta qualidade.</p>
        <span>R$ 5,99</span>
        <button>Adicionar ao Carrinho</button>
    </div>

    <!-- Adicione mais produtos da categoria tradicional conforme necessário -->
</section>

<section id="categoria-especial">
    <h2>Cocadas Especiais</h2>
    <div class="product">
        <img src="produtos/produto01.jpg" alt="Cocada Especial 1">
        <h3>Cocada Exótica</h3>
        <p>Uma cocada com um sabor exótico e único.</p>
        <span>R$ 7,99</span>
        <button>Adicionar ao Carrinho</button>
    </div>

    <!-- Adicione mais produtos da categoria especial conforme necessário -->
</section>

<footer>
    <p>&copy; 2024 Sua Empresa de Cocadas. Todos os direitos reservados.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
</body>
</html>
